@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: #f01e02;
    --black: #13131a;
    --bg: #010103;
    --border:solid #ffffff4d;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

section#home1{
	background-image: url(img/HSEFuc.jpg);
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

#topo{
    position: fixed;
    right: 3px;
    bottom: 10px;
    color: #fff;
}

header{
    background: var(--bg);
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: var(--main-color);
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

section#HQS {
	background-color: #000000;
	padding: 40px 0;
}

/* criar duas colunas responsivas */
#HQS {
	background-color: #000000;
	padding: 40px 0;
	text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 2em;
	color: #ff0000;
	margin-bottom: 20px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.HQ {
	width: 300px;
	margin: 20px;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.livro:hover {
	transform: scale(1.05);
}

.livro img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.preco {
	color: #ff0000;
	font-weight: bold;
	font-size: 1.5em;
}

button {
	background-color: #ff0000;
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

* {
	margin: 0;
	padding: 0;
  }

a {
	font-family: sans-serif;
	text-decoration: none;
  }
  
  .header {
	background: rgb(211, 0, 0);
	padding-inline: 16px;
  }
  
  .nav {
	max-width: 1280px;
	height: 70px;
	margin-inline: auto;
  
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .logo {
	font-size: 48px;
  }
  
  .nav-list {
	display: flex;
	gap: 32px;
	list-style: none;
  }
  
  .nav-list a {
	font-size: 18px;
	color: #fff;
	padding-block: 16px;
  }
  
  .hero {
	height: calc(100vh - 70px);
	background: center / cover no-repeat url("./bg.jpg");
  }
  
  .hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid #fff;
	cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
	content: " ";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin-top: 5px;
	position: relative;
	transition: 0.3s;
  }
  
  /* hamburger */
  @media (max-width: 750px) {
	.hamburger {
	  display: block;
	  z-index: 1;
	}
  
	.nav-list {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100vw;
	  height: 100vh;
	  background: rgb(214, 3, 3);
	  clip-path: circle(100px at 90% -15%);
	  transition: 1s ease-out;
  
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	  gap: 0;
  
	  pointer-events: none;
	}
  
	.nav-list a {
	  font-size: 24px;
	  opacity: 0;
	}
  
	.nav-list li:nth-child(1) a {
	  transition: 0.5s 0.2s;
	}
  
	.nav-list li:nth-child(2) a {
	  transition: 0.5s 0.4s;
	}
  
	.nav-list li:nth-child(3) a {
	  transition: 0.5s 0.6s;
	}
  
	/* Estilos ativos */
  
	.nav.active .nav-list {
	  clip-path: circle(1500px at 90% -15%);
	  pointer-events: all;
	}
  
	.nav.active .nav-list a {
	  opacity: 1;
	}
  
	.nav.active .hamburger {
	  position: fixed;
	  top: 26px;
	  right: 16px;
	  border-top-color: transparent;
	}
  
	.nav.active .hamburger::before {
	  transform: rotate(135deg);
	}
  
	.nav.active .hamburger::after {
	  transform: rotate(-135deg);
	  top: -7px;
	}
  }



@media(max-width:750px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(4){
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #010103;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu .active{
        left: 0;
    }


    .home{
        background-position: left;
        justify-content: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }



/* @media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(4){
        transform: translateY(-8px) rotate(45deg);
    }
    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #010103;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }


    .home{
        background-position: left;
        justify-content: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    } */

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    
    .container1 {
        display: grid;
        justify-content: center;
        padding: 20px;
    }
    
    .box {
        width: 348px;
        border: 1px solid #ccc;
        padding: 40px;
        text-align: center;
        margin-right: 23%; /* Adiciona uma margem direita para separar as caixas */
    }
    
    .box:last-child {
        margin-right: 0; /* Remove a margem direita da última caixa */
    }

	section#home1{
		background-image: url(img/HSEFuc.jpg);
		background-position: 32%;
	}

	body {
		margin: 0;
		font-family: 'Arial', sans-serif;
	}
	
	.navbar {
		background-color: #333;
		overflow: hidden;
	}
	
	.navbar a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	.menu-toggle {
		display: none;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}
	
	.menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	.menu li {
		float: left;
	}
	
	.menu a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	@media screen and (max-width: 600px) {
		.navbar a:not(:first-child), .menu a:not(:first-child) {
			display: none;
		}
	
		.navbar a.icon, .menu a.icon {
			float: right;
			display: block;
		}
	}
	
	@media screen and (max-width: 600px) {
		.navbar.responsive, .menu.responsive {
			position: relative;
		}
	
		.navbar.responsive a.icon, .menu.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
	
		.navbar.responsive a, .menu.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
	
		.menu {
			width: 100%;
			display: none;
		}
	
		.menu-toggle {
			display: block;
		}
	
		.menu.responsive {
			display: block;
		}
	}
	
}



 .heading{
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
    
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

/* .header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}


 .header .navbar.active{
    right: 0;
}

.header .navbar a{
    margin: 0.1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom:  .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
} 

.header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
} */ 




.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/HSEFuc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width:80rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #ff0000;

}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.sobre .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.sobre .row .image{
    flex: 1 1 45rem;
    
}

.sobre .row .image .img{
    width: 100%;
}

.sobre .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.sobre .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background: #fff;
}

.menu .box-container .box:hover > *{
    color: var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: .3rem;
}

.products .box-container .box .icons a:hover{
    background: var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 28rem;
}

.products .box-container .box .content h3{
    color: #fff;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{ 
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 2.5rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box h3{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem  2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem ;
    }
    
}

@media (max-width:768px){

    /* #menu-btn{
        display: inline-block;
    } */
    
    .hamburger {
        display: block;
        z-index: 1;
      }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        background: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

@media (min-width:1199px){

    .container1 {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .box {
        width: 348px;
        border: 1px solid #ff0000;
        padding: 40px;
        text-align: center;
        margin-right: 23%; /* Adiciona uma margem direita para separar as caixas */
    }
    
    .box:last-child {
        margin-right: 0; /* Remove a margem direita da última caixa */
    }

	.hamburguer{
		display: none;
	}

}